<%- if current_user %>
	<h2> Welcome user number : <%= current_user.id %> </h2>
	<h1>Register your on-campus business here!</h1>
	<br>
	<%= form_for @business, html: { multipart: true } do |f| %>
		<%= f.label :image %>
		<%= f.file_field :image %>
		<br>
		<%= f.label :name %>
		<%= f.text_area :name %>
		<br>
		<%= f.label "Tell your customers what you do!" %>
		<%= f.text_area :category %>
		<br>
		<%= f.label :location %>
		<%= f.text_area :location %>
		<br>
		<%= f.label :price %>
		<%= f.text_area :price %>
		<br>
		<%= f.label :price %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<br>
		<%= f.submit %>
	<% end %>
<% else %>
	<h2> 
		Looks like you aren't signed in! You need to 
		<%= link_to "sign in", new_user_session_path %> 
		to register your business. If you don't have an
		account 
		<%= link_to "register", new_user_registration_path %>
		here!
	</h2>
<% end %>

