<%= form_with(model: user_info, local: true) do |form| %>
  <% if user_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_info.errors.count, "error") %> prohibited this user_info from being saved:</h2>

      <ul>
      <% user_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_info_name %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_field :about, id: :user_info_about %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :user_info_age %>
  </div>

  <div class="field">
    <%= form.label :school %>
    <%= form.text_field :school, id: :user_info_school %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
