<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_info.name %>
</p>


<p>
  <strong>About:</strong>
  <%= @user_info.about %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_info.age %>
</p>

<p>
  <strong>School:</strong>
  <%= @user_info.school %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @user_info.ratings %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
